.searchbox{
    @include flexbox(row, nowrap, center, center, center);
    @include transition;
    @include box-sizing;
    @include animate(fadeOut, 0s);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    visibility: hidden;

    &.active{
        @include animate(fadeIn, 0);
        visibility: visible;
        .services__list{
            @include animate(fadeInRight, .1s);
        }
    }

    .search-form{
        .search__input{
            @include fonte($third-font, 300, 32px, #cccccc);
            border: 0px;
            background: transparent;
            padding: 15px;
        }
    }

    .search__bt{
        background: url(../img/search.png);
        font-size: 0px;
        border: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        position: relative;
        bottom: 10px;
        cursor: pointer;
        &:before{
            @include set-icon($fa-var-search, 40px, 400, #c4c4c4);
            cursor: pointer;
            width: 20px;
            height: 20px;
        }  
    }

    .search__close{
        position: absolute;
        right: 20px;
        top: 20px;
        &:before{
            @include set-icon($fa-var-times-circle, 40px, 400, #c4c4c4);
            cursor: pointer;
        }   
    }

}