body{
    .metaslider.ms-theme-bubble .flexslider ul.flex-direction-nav li a,
    .metaslider.ms-theme-bubble a.rslides_nav,
    .metaslider.ms-theme-bubble div.nivoSlider div.nivo-directionNav a,
    .metaslider.ms-theme-bubble .coin-slider .coin-slider div a{
        background: hsla(0, 0%, 0%, 0.2);
    }


    .metaslider.ms-theme-bubble .flexslider ul.flex-direction-nav li a.flex-next:before,
    .metaslider.ms-theme-bubble .rslides_nav.next:before,
    .metaslider.ms-theme-bubble div.nivoSlider div.nivo-directionNav a.nivo-nextNav:before,
    .metaslider.ms-theme-bubble .coin-slider .coin-slider div a.cs-next:before{
        background: url(../img/arrow-right.png) no-repeat center center;
        
    }

    .metaslider.ms-theme-bubble .flexslider ul.flex-direction-nav li a.flex-prev:before,
    .metaslider.ms-theme-bubble .rslides_nav.prev:before,
    .metaslider.ms-theme-bubble div.nivoSlider div.nivo-directionNav a.nivo-prevNav:before,
    .metaslider.ms-theme-bubble .coin-slider .coin-slider div a.cs-prev:before{
        background: url(../img/arrow-left.png) no-repeat center center;
    }

    .metaslider.ms-theme-bubble .flexslider ol.flex-control-nav:not(.flex-control-thumbs),
    .metaslider.ms-theme-bubble ul.rslides_tabs,
    .metaslider.ms-theme-bubble div.slider-wrapper .nivo-controlNav:not(.nivo-thumbs-enabled){
        display: none;
    }

}