.topSlider{
    width: 100%;
    height: 100%;
    background-color: #141228;
    
    .owl-carousel,
    .owl-stage-outer,
    .owl-stage,
    .owl-item {
        width: 100%;
        height: 100%;
        overflow: hidden;
    } 

    &.owl-theme .owl-nav + .owl-dots{
        @include flexbox(column, nowrap, center, center, center);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 0px 10px;
        margin: 0;
    }

    @include e('item') {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        padding-top: 150px;

        @media #{$break-up}, #{$wrap-up}  {
            padding-top: 150px;
        }

        @media #{$break-down} {
            padding-top: 60px;
        }


        &:before{
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-animation: bannerIn 50s ease-in infinite;
            animation: bannerIn 50s ease-in infinite;
            transition: all .5s ease-in-out;
            overflow: hidden;
            z-index: -1;
        }

    }

    .wrapper{
        @include box-sizing;
        overflow: hidden;
        height: 100%;
        margin: 0px auto;
    }

    .first{
        @include flexbox(column, wrap, space-between, center, center);

        &:before{
            @include bgimage('bgtop1.jpg');
        }

        .wrapper{
            @include flexbox(column, wrap, space-between, flex-start, flex-start);
            width: 100%;
            height: calc(100% - 150px);
        }

        
        .line{
            
            @media #{$wrap-up}{
                @include flexbox(row, wrap, space-between, flex-start, flex-start);
            }


            .sep{
                margin: 0px 15px;
            }
        }

        .logo{
            @include animate(fadeInLeft, 0s);
            @media #{$break-down}, #{$wrap-down}  {
                display: none;
            }
        }

        .sep{
            @include animate(fadeIn, 1s);
            position: relative;
            
            @media #{$break-down}, #{$wrap-down}  {
                display: none;
            }
            
        }

        .slogan{
            overflow: hidden;
            @include e('you'){
                @include animate(fadeInLeft, 1.5s);
            }
            @include e('make'){
                @include animate(fadeInLeft, 1.7s);
            }
            @include e('the'){
                @include animate(fadeInLeft, 1.9s);
            }
            @include e('future'){
                @include animate(fadeInLeft, 2.1s);
            }
            @include e('txt'){
                @include fonte($second-font, 300, 36px, #FFF);
                @include animate(fadeInUp, 1.9s);
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 7px;
            }

            @media #{$break-down}, #{$wrap-down}  {
                width: 100%;
                max-width: 90%;
                img{
                    width: 100%;
                }
                
                .slogan__you{
                    max-width: 50%;
                }

                .slogan__make{
                    max-width: 85%;
                }

                .slogan__the{
                    max-width: 50%;
                }

                .slogan__future{
                    max-width: 100%;
                }

            }
        }

        .info{
            @include flexbox(row, wrap, space-between, center, center);
            @include animate(fadeInUp, 1.9s);
            width: 100%;

            @include e('desc'){
                @include flexbox(row, nowrap, flex-start, center, center);
                strong{
                    @include fonte($second-font, 800, 43px, #FFF);
                }
                span{
                    @include fonte($second-font, 300, 27px, #FFF);
                }
                img{
                    margin-right: 10px;
                }

            }

        }

        .next{
            width: 100%;
            text-align: center;
            padding: 10px 0px;
            margin-bottom: 30px;
            i{
                font-size: 35px;
                color: #FFF;
                animation: arrowBounce 2s infinite;
                -webkit-animation: arrowBounce 2s infinite;
                -moz-animation: arrowBounce 2s infinite;
                -o-animation: arrowBounce 2s infinite;
            }
        }


    }

    .second{
        &:before{
            @include bgimage('bgtop2.jpg');
        }
    }

    .third{
        &:before{
            @include bgimage('bgtop3.jpg');
        }
    }

}



